In [1]:
from dashboard import *
from models import *
from preprocess  import *
import numpy as np
import plotly
from plotly import plotly as py
import plotly.graph_objs as go
import pandas as pd
import sys
sys.setrecursionlimit(10000)
import numpy as np

Using TensorFlow backend.

In [5]:
file_object= Dashboard('garan2old.csv', 'Actual Unit', 'Member Description', 'TT CTN 2X 6-18M NIGHT STHR', 'Year',2018)

In [6]:
file_object.file_transformation()

reading file
['Year', 'Month', 'Member Description', 'Description', 'Product Range', 'Sub-Category', 'Category', 'Need State', 'Actual Unit']
['Year' 'Month' 'Member Description' 'Description' 'Product Range'
 'Sub-Category' 'Category' 'Need State' 'Actual Unit']
 y converted to float
 replace nan done!
row aggregation done
files does not have the time attribute
data for prediction containing rows with: Member Description != TT CTN 2X 6-18M NIGHT STHR
y choosen
categoricol to nominal done!
dimensions calculated

In [4]:
file_object.finding_best_model()

we are in the function

In [8]:
preprocess= file_object.get_preporcessed_file()
preprocess.get_dim()

[[2023, 17, 499, 494, 37, 17, 14, 11], [53, 3, 15, 15, 3, 3, 3, 3]]

In [9]:
model=file_object.get_best_model()
model

{}

In [24]:
preprocess= file_object.get_preporcessed_file()
preprocess.get_dim()
pre_x= preprocess.get_pre_x()
pre_y= preprocess.get_pre_y()

In [25]:
pre_x['Actual Unit']= pre_y

In [26]:
# pre_x = pre_x.loc[pre_x['Region-Name']=='Others (MU)']
pre_y= np.array(pre_x['Actual Unit'])
pre_x=pre_x.drop('Actual Unit', axis=1)
pre_y

array([ 1752.,     0.,     0.,  1236.,   804.,     0.,     0.,  1836.,
         288.,     0.,     0.,     0.])

In [27]:
pre_x

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State
5031,2018,Apr,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
5268,2018,Aug,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
5468,2018,Dec,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
5686,2018,Feb,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
5942,2018,Jan,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
6181,2018,Jul,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
6388,2018,Jun,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
6613,2018,Mar,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
6876,2018,May,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
7106,2018,Nov,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
7307,2018,Oct,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
7506,2018,Sep,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort

In [28]:
#prepare data for transfer learning 
productdata= preprocess.productdata

producty= np.array(productdata['Actual Unit'])
productdata=productdata.drop('Actual Unit', axis=1)

In [29]:
key= file_object.get_prediction_key()

def categorical_to_nominal(df, variable, key):
        # copythe code from preporcess.py
        # self.df       self.key   self.variables
        
        for x in variable:

            if ("int" in str(type(np.array(df[x])[1]))) or ("float" in str(type(np.array(df[x])[1]))) or ("long" in str(type(np.array(df[x])[1]))):

                pass
            else:
                print(x)
                df[[x]], key =nom_convert_int(df[[x]],x, key)
              
        print("categoricol to nominal done!")
        return df, key
    
def nom_convert_int(df,x, key):
        x_c= np.array(df)
        dic=key[x]
        try:
            value_temp=max(key[x].values())+1
            print(len(x_c))
            for j in range(len(x_c)):
                try: 
                    x_c[j][0]=dic[x_c[j][0]]
                except:
                    dic[x_c[j][0]]= value_temp
                    value_temp= value_temp+1
                    x_c[j][0]=dic[x_c[j][0]]
            key[x]= dic
        except:
            pass
        return x_c , key

In [30]:
pass_to_model, key[2]= categorical_to_nominal(pre_x, key[1], key[2])
model= file_object.get_best_model()
model= model['NN_with_EntityEmbedding'][0]
# import pickle

# with open("garan.pickle", 'w') as f:
#         pickle.dump(model.get_model(), f)

Month
12
Member Description
12
Description
12
Product Range
12
Sub-Category
12
Category
12
Need State
12
categoricol to nominal done!

In [31]:
pp=preprocess.productdata
pp

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State,Actual Unit
70,2016,Apr,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,35448.0
257,2016,Aug,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,24588.0
458,2016,Dec,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,31680.0
651,2016,Feb,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,24984.0
861,2016,Jan,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,17016.0
1077,2016,Jul,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,35832.0
1277,2016,Jun,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,30120.0
1475,2016,Mar,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,33444.0
1687,2016,May,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,22680.0
1880,2016,Nov,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,37668.0
2069,2016,Oct,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,21672.0
2256,2016,Sep,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,26652.0
2449,2017,Apr,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,22044.0
2651,2017,Aug,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,31932.0
2897,2017,Dec,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,27996.0
3108,2017,Feb,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,25560.0
3309,2017,Jan,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,24264.0
3509,2017,Jul,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,27384.0
3719,2017,Jun,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,27204.0
3932,2017,Mar,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,39228.0
4141,2017,May,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,29628.0
4382,2017,Nov,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,41556.0
4585,2017,Oct,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,32664.0
4780,2017,Sep,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort,25080.0

In [32]:
# pp = pp.loc[pp['Region-Name']=='Others (MU)']
producty= np.array(pp['Actual Unit'])
productdata=pp.drop('Actual Unit', axis=1)
productdata

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State
70,2016,Apr,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
257,2016,Aug,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
458,2016,Dec,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
651,2016,Feb,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
861,2016,Jan,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
1077,2016,Jul,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
1277,2016,Jun,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
1475,2016,Mar,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
1687,2016,May,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
1880,2016,Nov,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
2069,2016,Oct,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
2256,2016,Sep,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
2449,2017,Apr,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
2651,2017,Aug,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
2897,2017,Dec,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
3108,2017,Feb,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
3309,2017,Jan,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
3509,2017,Jul,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
3719,2017,Jun,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
3932,2017,Mar,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
4141,2017,May,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
4382,2017,Nov,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
4585,2017,Oct,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort
4780,2017,Sep,TT CTN 2X 6-18M NIGHT STHR,TT CTN 2X 6-18M NIGHT STHR,4. 6-18m,3. Soothers,2. Soother,1. Comfort

In [33]:
# transfer learning
passTomodel, key[2]= categorical_to_nominal(productdata, key[1], key[2])
passTomodel

Month
24
Member Description
24
Description
24
Product Range
24
Sub-Category
24
Category
24
Need State
24
categoricol to nominal done!

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State
70,2016,0,70,70,16,5,3,2
257,2016,1,70,70,16,5,3,2
458,2016,2,70,70,16,5,3,2
651,2016,3,70,70,16,5,3,2
861,2016,4,70,70,16,5,3,2
1077,2016,5,70,70,16,5,3,2
1277,2016,6,70,70,16,5,3,2
1475,2016,7,70,70,16,5,3,2
1687,2016,8,70,70,16,5,3,2
1880,2016,9,70,70,16,5,3,2
2069,2016,10,70,70,16,5,3,2
2256,2016,11,70,70,16,5,3,2
2449,2017,0,70,70,16,5,3,2
2651,2017,1,70,70,16,5,3,2
2897,2017,2,70,70,16,5,3,2
3108,2017,3,70,70,16,5,3,2
3309,2017,4,70,70,16,5,3,2
3509,2017,5,70,70,16,5,3,2
3719,2017,6,70,70,16,5,3,2
3932,2017,7,70,70,16,5,3,2
4141,2017,8,70,70,16,5,3,2
4382,2017,9,70,70,16,5,3,2
4585,2017,10,70,70,16,5,3,2
4780,2017,11,70,70,16,5,3,2

In [56]:
for i in range(20):
    model.fit(np.array(passTomodel), producty,preprocess.get_test_x() ,preprocess.get_test_y())

Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 3.9158e-04 - val_loss: 0.0150
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4457e-04 - val_loss: 0.0151
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 5.2917e-04 - val_loss: 0.0153
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 4.8055e-04 - val_loss: 0.0153
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4744e-04 - val_loss: 0.0153
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 5.6533e-04 - val_loss: 0.0153
Epoch 7/10
24/24 [==============================] - 0s 7ms/step - loss: 4.3045e-04 - val_loss: 0.0154
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.3938e-04 - val_loss: 0.0154
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 3.9686e-04 - val_loss: 0.0152
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 2.6007e-04 - val_loss: 0.0151
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 4.3378e-04 - val_loss: 0.0152
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.6984e-04 - val_loss: 0.0155
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2836e-04 - val_loss: 0.0157
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4672e-04 - val_loss: 0.0155
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4812e-04 - val_loss: 0.0153
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 5.8599e-04 - val_loss: 0.0151
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 7.1982e-04 - val_loss: 0.0151
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.3863e-04 - val_loss: 0.0152
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3855e-04 - val_loss: 0.0155
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1857e-04 - val_loss: 0.0154
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0101e-04 - val_loss: 0.0154
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.3289e-04 - val_loss: 0.0154
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 4.3720e-04 - val_loss: 0.0153
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 5.0668e-04 - val_loss: 0.0153
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.7729e-04 - val_loss: 0.0155
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2864e-04 - val_loss: 0.0153
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2526e-04 - val_loss: 0.0151
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 4.9666e-04 - val_loss: 0.0152
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 2.3703e-04 - val_loss: 0.0154
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4600e-04 - val_loss: 0.0155
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 4.0206e-04 - val_loss: 0.0154
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.0883e-04 - val_loss: 0.0154
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6064e-04 - val_loss: 0.0152
Epoch 4/10
24/24 [==============================] - 0s 7ms/step - loss: 6.5238e-04 - val_loss: 0.0150
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4530e-04 - val_loss: 0.0154
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 7.6112e-04 - val_loss: 0.0156
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 5.6160e-04 - val_loss: 0.0154
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 6.1153e-04 - val_loss: 0.0151
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 5.7197e-04 - val_loss: 0.0151
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1644e-04 - val_loss: 0.0153
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 5.0424e-04 - val_loss: 0.0155
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.8723e-04 - val_loss: 0.0156
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4383e-04 - val_loss: 0.0153
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 1.8857e-04 - val_loss: 0.0151
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 6.0891e-04 - val_loss: 0.0152
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 7.8283e-04 - val_loss: 0.0159
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 6.4531e-04 - val_loss: 0.0163
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 7.5217e-04 - val_loss: 0.0158
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 6.0608e-04 - val_loss: 0.0153
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 6.1616e-04 - val_loss: 0.0151
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 5.7880e-04 - val_loss: 0.0152
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.5988e-04 - val_loss: 0.0154
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1997e-04 - val_loss: 0.0153
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 5.7550e-04 - val_loss: 0.0153
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5241e-04 - val_loss: 0.0155
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3774e-04 - val_loss: 0.0155
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 5.7711e-04 - val_loss: 0.0154
Epoch 8/10
24/24 [==============================] - 0s 7ms/step - loss: 3.6882e-04 - val_loss: 0.0153
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4860e-04 - val_loss: 0.0152
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.6660e-04 - val_loss: 0.0153
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 6.2106e-04 - val_loss: 0.0156
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 6.8761e-04 - val_loss: 0.0157
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 4.7868e-04 - val_loss: 0.0155
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 2.3995e-04 - val_loss: 0.0152
Epoch 5/10
24/24 [==============================] - 0s 7ms/step - loss: 5.3335e-04 - val_loss: 0.0153
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 5.8170e-04 - val_loss: 0.0157
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.8011e-04 - val_loss: 0.0158
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 2.7313e-04 - val_loss: 0.0154
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2579e-04 - val_loss: 0.0151
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 3.9966e-04 - val_loss: 0.0153
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 3.5918e-04 - val_loss: 0.0157
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.0844e-04 - val_loss: 0.0160
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 5.1250e-04 - val_loss: 0.0160
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1826e-04 - val_loss: 0.0156
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6119e-04 - val_loss: 0.0154
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4754e-04 - val_loss: 0.0154
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 1.2600e-04 - val_loss: 0.0155
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3700e-04 - val_loss: 0.0156
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 5.1016e-04 - val_loss: 0.0157
Epoch 10/10
24/24 [==============================] - 0s 7ms/step - loss: 3.8448e-04 - val_loss: 0.0156
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0040e-04 - val_loss: 0.0158
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.5991e-04 - val_loss: 0.0161
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.8172e-04 - val_loss: 0.0156
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 6.0772e-04 - val_loss: 0.0154
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5132e-04 - val_loss: 0.0158
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1129e-04 - val_loss: 0.0159
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5345e-04 - val_loss: 0.0157
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4395e-04 - val_loss: 0.0154
Epoch 9/10
24/24 [==============================] - 0s 7ms/step - loss: 2.7577e-04 - val_loss: 0.0153
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 6.6875e-04 - val_loss: 0.0156
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 6.0248e-04 - val_loss: 0.0163
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.9164e-04 - val_loss: 0.0164
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 5.4517e-04 - val_loss: 0.0161
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2143e-04 - val_loss: 0.0157
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.8098e-04 - val_loss: 0.0155
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4284e-04 - val_loss: 0.0159
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 4.7392e-04 - val_loss: 0.0163
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 6.3172e-04 - val_loss: 0.0159
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 3.1067e-04 - val_loss: 0.0156
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 5.1716e-04 - val_loss: 0.0157
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5324e-04 - val_loss: 0.0158
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4371e-04 - val_loss: 0.0159
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2830e-04 - val_loss: 0.0157
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 4.6161e-04 - val_loss: 0.0156
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.2933e-04 - val_loss: 0.0158
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3703e-04 - val_loss: 0.0158
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 4.0496e-04 - val_loss: 0.0158
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6818e-04 - val_loss: 0.0155
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 6.5206e-04 - val_loss: 0.0155
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 1.7690e-04 - val_loss: 0.0157
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 2.4575e-04 - val_loss: 0.0160
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 2.5036e-04 - val_loss: 0.0160
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 5.2959e-04 - val_loss: 0.0158
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 3.7172e-04 - val_loss: 0.0155
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 6.1145e-04 - val_loss: 0.0157
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.9255e-04 - val_loss: 0.0159
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.9746e-04 - val_loss: 0.0160
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 4.8058e-04 - val_loss: 0.0157
Epoch 9/10
24/24 [==============================] - 0s 7ms/step - loss: 5.3259e-04 - val_loss: 0.0157
Epoch 10/10
24/24 [==============================] - 0s 7ms/step - loss: 4.3229e-04 - val_loss: 0.0159
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 3.7666e-04 - val_loss: 0.0158
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.5027e-04 - val_loss: 0.0159
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 2.4250e-04 - val_loss: 0.0157
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 4.0454e-04 - val_loss: 0.0155
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 2.5965e-04 - val_loss: 0.0154
Epoch 6/10
24/24 [==============================] - 0s 7ms/step - loss: 7.1953e-04 - val_loss: 0.0158
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 5.3406e-04 - val_loss: 0.0162
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.3246e-04 - val_loss: 0.0159
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 5.8992e-04 - val_loss: 0.0154
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.0224e-04 - val_loss: 0.0154
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 6.4539e-04 - val_loss: 0.0160
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 6.4516e-04 - val_loss: 0.0166
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 5.7288e-04 - val_loss: 0.0162
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2175e-04 - val_loss: 0.0155
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 2.1337e-04 - val_loss: 0.0154
Epoch 6/10
24/24 [==============================] - 0s 7ms/step - loss: 2.8895e-04 - val_loss: 0.0155
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4033e-04 - val_loss: 0.0158
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.0348e-04 - val_loss: 0.0160
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 3.8646e-04 - val_loss: 0.0161
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.3038e-04 - val_loss: 0.0159
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 3.1226e-04 - val_loss: 0.0155
Epoch 2/10
24/24 [==============================] - 0s 7ms/step - loss: 4.6818e-04 - val_loss: 0.0157
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5342e-04 - val_loss: 0.0160
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 2.7864e-04 - val_loss: 0.0161
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.9240e-04 - val_loss: 0.0159
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 4.9616e-04 - val_loss: 0.0157
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6881e-04 - val_loss: 0.0156
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 2.4013e-04 - val_loss: 0.0158
Epoch 9/10

24/24 [==============================] - 0s 6ms/step - loss: 4.4490e-04 - val_loss: 0.0158
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 2.6502e-04 - val_loss: 0.0161
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 2.9346e-04 - val_loss: 0.0163
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.7252e-04 - val_loss: 0.0160
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6471e-04 - val_loss: 0.0155
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3556e-04 - val_loss: 0.0154
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.6188e-04 - val_loss: 0.0157
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 2.1710e-04 - val_loss: 0.0162
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2977e-04 - val_loss: 0.0162
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.5484e-04 - val_loss: 0.0157
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 2.1524e-04 - val_loss: 0.0155
Epoch 10/10
24/24 [==============================] - 0s 7ms/step - loss: 4.1546e-04 - val_loss: 0.0158
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 3.0789e-04 - val_loss: 0.0162
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4223e-04 - val_loss: 0.0161
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0477e-04 - val_loss: 0.0160
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 2.1761e-04 - val_loss: 0.0159
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 2.6511e-04 - val_loss: 0.0161
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2695e-04 - val_loss: 0.0163
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0118e-04 - val_loss: 0.0159
Epoch 8/10
24/24 [==============================] - 0s 7ms/step - loss: 2.4347e-04 - val_loss: 0.0156
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 7.3024e-04 - val_loss: 0.0159
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 6.9079e-04 - val_loss: 0.0165
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 3.6498e-04 - val_loss: 0.0167
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 5.7657e-04 - val_loss: 0.0163
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 0.0010 - val_loss: 0.0161
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 6.4957e-04 - val_loss: 0.0164
Epoch 5/10
24/24 [==============================] - 0s 7ms/step - loss: 5.0589e-04 - val_loss: 0.0162
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2959e-04 - val_loss: 0.0158
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0065e-04 - val_loss: 0.0157
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 5.2120e-04 - val_loss: 0.0159
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 2.4529e-04 - val_loss: 0.0163
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5306e-04 - val_loss: 0.0162
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 6ms/step - loss: 2.9621e-04 - val_loss: 0.0160
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 4.4723e-04 - val_loss: 0.0158
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3898e-04 - val_loss: 0.0158
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3841e-04 - val_loss: 0.0159
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1119e-04 - val_loss: 0.0165
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3542e-04 - val_loss: 0.0165
Epoch 7/10
24/24 [==============================] - 0s 6ms/step - loss: 3.3517e-04 - val_loss: 0.0162
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 3.2759e-04 - val_loss: 0.0159
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 3.5732e-04 - val_loss: 0.0157
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1437e-04 - val_loss: 0.0161
('Result on validation data: ', nan)
Train on 24 samples, validate on 440 samples
Epoch 1/10
24/24 [==============================] - 0s 7ms/step - loss: 5.5363e-04 - val_loss: 0.0164
Epoch 2/10
24/24 [==============================] - 0s 6ms/step - loss: 2.4722e-04 - val_loss: 0.0163
Epoch 3/10
24/24 [==============================] - 0s 6ms/step - loss: 3.7625e-04 - val_loss: 0.0160
Epoch 4/10
24/24 [==============================] - 0s 6ms/step - loss: 5.6882e-04 - val_loss: 0.0160
Epoch 5/10
24/24 [==============================] - 0s 6ms/step - loss: 3.8425e-04 - val_loss: 0.0162
Epoch 6/10
24/24 [==============================] - 0s 6ms/step - loss: 2.5286e-04 - val_loss: 0.0162
Epoch 7/10
24/24 [==============================] - 0s 7ms/step - loss: 2.8152e-04 - val_loss: 0.0165
Epoch 8/10
24/24 [==============================] - 0s 6ms/step - loss: 3.4050e-04 - val_loss: 0.0165
Epoch 9/10
24/24 [==============================] - 0s 6ms/step - loss: 4.1477e-04 - val_loss: 0.0163
Epoch 10/10
24/24 [==============================] - 0s 6ms/step - loss: 3.0501e-04 - val_loss: 0.0159
('Result on validation data: ', nan)

In [ ]:
import pickle
with open("garan_usecase1.pickle", 'w') as f:
        pickle.dump(model.model, f)

In [57]:
# mdl.fit(pass_to_model[:5], pre_y[:5],preprocess.get_test_x , preprocess.get_test_y)
guessed2= model.guess(np.array(passTomodel))
guessed2

array([ 26780.3046875 ,  22203.38867188,  30235.609375  ,  23777.70507812,
        14366.77929688,  29165.58203125,  28716.18945312,  33197.4765625 ,
        25631.8359375 ,  30434.36132812,  19666.81445312,  27140.453125  ,
        24079.90039062,  31769.12109375,  26654.12695312,  25933.07226562,
        22230.69921875,  27359.58789062,  28661.140625  ,  36739.21484375,
        26860.546875  ,  34793.5234375 ,  33152.04296875,  23650.91601562], dtype=float32)

In [58]:
plotly.tools.set_credentials_file(username='MuddassarSharif', api_key='lpspsQk7boLV6zNZpRM3')

x_temp = []
for i in range(len(guessed2)):
    x_temp.append(i)
data = []
trace1 = go.Scatter(
        x=x_temp,
        y=guessed2,
        mode='lines',
        name='predicted Sales'
        )
data.append(trace1)

trace2 = go.Scatter(
            x=x_temp,
            y=producty,
            mode='lines',
            name='actual'
        )

data.append(trace2)

fig = dict(data=data)
py.iplot(fig, filename='line-mode')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~MuddassarSharif/0 or inside your plot.ly account where it is named 'line-mode'

In [59]:
pass_to_model

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State
5031,2018,0,70,70,16,5,3,2
5268,2018,1,70,70,16,5,3,2
5468,2018,2,70,70,16,5,3,2
5686,2018,3,70,70,16,5,3,2
5942,2018,4,70,70,16,5,3,2
6181,2018,5,70,70,16,5,3,2
6388,2018,6,70,70,16,5,3,2
6613,2018,7,70,70,16,5,3,2
6876,2018,8,70,70,16,5,3,2
7106,2018,9,70,70,16,5,3,2
7307,2018,10,70,70,16,5,3,2
7506,2018,11,70,70,16,5,3,2

In [60]:
# mdl.fit(pass_to_model[:5], pre_y[:5],preprocess.get_test_x , preprocess.get_test_y)
guessed= model.guess(np.array(pass_to_model[:7]))
guessed

array([  9.98729736e+02,   1.65700912e-05,   8.90254974e-04,
         1.40394861e+03,   3.80094482e+03,   2.67105103e-02,
         1.85521007e-01], dtype=float32)

In [61]:
plotly.tools.set_credentials_file(username='MuddassarSharif', api_key='lpspsQk7boLV6zNZpRM3')

x_temp = []
for i in range(len(guessed)):
    x_temp.append(i)
data = []
trace1 = go.Scatter(
        x=x_temp,
        y=guessed,
        mode='lines',
        name='predicted Sales'
        )
data.append(trace1)

trace2 = go.Scatter(
            x=x_temp,
            y=pre_y,
            mode='lines',
            name='actual'
        )

data.append(trace2)

fig = dict(data=data)
py.iplot(fig, filename='line-mode')

High five! You successfully sent some data to your account on plotly. View your plot in your browser at https://plot.ly/~MuddassarSharif/0 or inside your plot.ly account where it is named 'line-mode'

In [62]:
print(sum(pre_y))
print(sum(guessed))

5916.0
6203.83630729

In [ ]:
dic_r={1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0, 10:0,11:0,12:0}
dic_f={1:0,2:0,3:0,4:0,5:0,6:0,7:0,8:0,9:0, 10:0,11:0,12:0}
count=0
for i in np.array(pass_to_model['Month']):
    dic_r[i]= dic_r[i]+ pre_y[count]
    dic_f[i]= dic_f[i]+ guessed[count]
    count= count+1

In [ ]:
import plotly
from plotly import plotly as py
import plotly.graph_objs as go
plotly.tools.set_credentials_file(username='ms8909', api_key='OOQ413hzFuXQFdeEbpJK')

x_temp = []
for i in range(len(dic_f.values())):
    x_temp.append(i)
data = []
trace1 = go.Scatter(
        x=['jan', 'feb', 'mar', 'apr', 'may','june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec'],
        y=dic_f.values(),
        mode='lines',
        name='UnitsShipped Forecast'
        )
data.append(trace1)

trace2 = go.Scatter(
            x=['jan', 'feb', 'mar', 'apr', 'may','june', 'july', 'aug', 'sep', 'oct', 'nov', 'dec'],
            y=dic_r.values(),
            mode='lines',
            name='UnitsShipped Actual'
        )

data.append(trace2)

fig = dict(data=data)
py.iplot(fig, filename='line-mode')