In [1]:
!pip install xlrd

Requirement already satisfied: xlrd in /home/ubuntu/anaconda3/envs/tensorflow_p36/lib/python3.6/site-packages
You are using pip version 9.0.1, however version 10.0.1 is available.
You should consider upgrading via the 'pip install --upgrade pip' command.

In [3]:
from preprocess import *
import pandas as pd
def read_file(address,nrows, start):   # needs modification
        try:
            if start== 0:
                
                if nrows== None:


                    try:
                        data= pd.read_csv(address)
                    except:
                        data = pd.read_excel(address)

                    return data
                else:
                    self.data= pd.read_csv(self.address, nrows= nrows)
                    return data
            else:
                data= pd.read_csv(address)
                data = self.data[start:]
                return data
                
        except:
            print("File does not exist")
            return 
        
def Filterin(data,row, value):
        try:
            data = data.loc[data[row]==value]
            print("data only contain rows with: " + str(row) +"==" + str(value))
            return data
        except:
            return "please check your inputs please. Filteration not done"
        
def Filterout(data, row, value):
        try:
            data = data.loc[data[row]!=value]
            print( "data deoes not contain rows with: " + str(row) +" != " + str(value))
            return data
        except:
            print( "please check your inputs please. Filteration not done")
            return None

In [4]:
#read file

data= read_file('garan2old.csv',None, 0)

# filterin to extract a product

product_data= Filterin(data, 'Member Description', 'TT CTN 2X 6-18M NIGHT STHR' )
data_training= Filterout(data,'Member Description', 'TT CTN 2X 6-18M NIGHT STHR' )
# merge data to incorporate 

# save the file

# run the model 

# test the results

data only contain rows with: Member Description==TT 2X 0-6M NIGHT STHR
data deoes not contain rows with: Member Description != TT 2X 0-6M NIGHT STHR

In [5]:
x=product_data
x

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State,Actual Unit
18508,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,288
18586,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,672
18731,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,384
18814,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,288
18918,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,12
19025,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,108
19087,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"5,988"
19199,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"7,560"
19276,2017,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"3,324"
19724,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
19791,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"2,556"
19954,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,564
20020,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"2,280"
20119,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,60
20204,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,960
20259,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"17,616"
20373,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"6,600"
20438,2018,Jan,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,12
20851,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
20910,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"1,500"
21069,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,828
21150,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"2,004"
21249,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,168
21335,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,348
21386,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"11,628"
21485,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,"4,716"
21545,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,24
21628,2018,Feb,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,252
22031,2018,Mar,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,828
22093,2018,Mar,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,528
...,...,...,...,...,...,...,...,...,...
29208,2018,Oct,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29248,2018,Oct,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29256,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29287,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29439,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29517,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29526,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29574,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29715,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29773,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29846,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29889,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
29970,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30025,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30046,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30086,2018,Nov,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30094,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30125,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30277,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30355,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30364,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30412,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30546,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30605,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30678,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30722,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30804,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30856,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30877,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN
30917,2018,Dec,TT 2X 0-6M NIGHT STHR,TT 2X 0-6M NIGHT STHR,4. 0-6m,3. Soothers,2. Soother,1. Comfort,NaN

In [14]:
y= 'Actual Unit'
x[y]= x[y].str.replace(",", "")
x[y]= x[y].str.replace("(", "")
x[y]= x[y].str.replace(")", "").astype(float)
x

AttributeError: Can only use .str accessor with string values, which use np.object_ dtype in pandas

In [18]:
x

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State,Actual Unit
0,2016,Aug,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,14312.0
1,2016,Dec,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,24169.0
2,2016,Jul,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,13464.0
3,2016,Jun,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,14168.0
4,2016,Nov,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,14430.0
5,2016,Oct,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,11872.0
6,2016,Sep,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,19504.0
7,2017,Apr,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,18584.0
8,2017,Aug,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,28006.0
9,2017,Dec,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,29265.0
10,2017,Feb,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,15328.0
11,2017,Jan,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,22795.0
12,2017,Jul,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,33366.0
13,2017,Jun,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,25278.0
14,2017,Mar,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,26119.0
15,2017,May,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,23254.0
16,2017,Nov,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,34603.0
17,2017,Oct,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,18631.0
18,2017,Sep,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,22033.0
19,2018,Apr,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,13135.0
20,2018,Aug,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
21,2018,Dec,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
22,2018,Feb,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,14343.0
23,2018,Jan,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,20048.0
24,2018,Jul,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
25,2018,Jun,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
26,2018,Mar,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,23840.0
27,2018,May,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,9739.0
28,2018,Nov,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
29,2018,Oct,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN
30,2018,Sep,TT INSULATED STRAW TUMBLER X2 EN SP,TT INSULATED STRAW TUMBLER X2 EN SP,4. Non-Spill,3. Cups,2. Toddler_Feeding,1. Feed,NaN

In [17]:
x=x.groupby(['Year', 'Month', 'Member Description', 'Description','Product Range','Sub-Category','Category','Need State'   ], as_index=False).sum()

In [16]:
data_training= (data_training["Member Description"] =="TT CTN 2X PACI HOLDERS") & (data_training["Year"]==2016)

KeyError: 'Member Description'

In [11]:
data.drop(data_training.index, axis=0,inplace=True)

In [15]:
data

,Year,Month,Member Description,Description,Product Range,Sub-Category,Category,Need State,Actual Unit
3077,2016,May,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"6,424"
3338,2016,May,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,8
3757,2016,Jun,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"4,800"
3963,2016,Jun,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"13,008"
4026,2016,Jun,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,24
4056,2016,Jun,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"3,400"
4457,2016,Jul,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,360
4644,2016,Jul,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,736
4696,2016,Jul,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,24
4734,2016,Jul,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"4,752"
5097,2016,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,096"
5328,2016,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"3,424"
5366,2016,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,8
5407,2016,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"3,416"
5782,2016,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,200"
6016,2016,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"5,616"
6152,2016,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"2,408"
6553,2016,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"3,008"
6736,2016,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"2,592"
6811,2016,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,8
7240,2016,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,192
7420,2016,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"4,536"
7519,2016,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"4,720"
7522,2016,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,6
7922,2016,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,040"
8160,2016,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"5,256"
8245,2016,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"8,000"
8667,2017,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,560
8903,2017,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"3,912"
9379,2017,Feb,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,248"
...,...,...,...,...,...,...,...,...,...
14890,2017,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,378
15158,2017,Aug,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"2,368"
15470,2017,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
15768,2017,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,968
15915,2017,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
15916,2017,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,60
16116,2017,Sep,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,904
16465,2017,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
16734,2017,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,472
16874,2017,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
16875,2017,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,420
17140,2017,Oct,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"2,640"
17524,2017,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
17822,2017,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,232
17977,2017,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
18209,2017,Nov,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,200"
18568,2017,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
18899,2017,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,608
19392,2017,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,720"
19393,2017,Dec,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,6
19778,2018,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
20102,2018,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,376"
20501,2018,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,NaN
20502,2018,Jan,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,6
21231,2018,Feb,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,200
21619,2018,Feb,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,896
21622,2018,Feb,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,12
22802,2018,Mar,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,"1,136"
23900,2018,Apr,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,896
24928,2018,May,TT 1ST SIPS TRANSITION CUP X1 EN SP,TT 1ST SIPS TRANSITION CUP X1 EN SP,4. Transition Cups,3. Cups,2. Toddler_Feeding,1. Feed,240

In [66]:
import numpy as np
data_training['Actual Unit']= data_training['Actual Unit'].str.replace(",", "")
data_training['Actual Unit']= data_training['Actual Unit'].str.replace("(", "")
data_training['Actual Unit']= data_training['Actual Unit'].str.replace(")", "").astype(float)

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  This is separate from the ipykernel package so we can avoid doing imports until
/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  after removing the cwd from sys.path.

In [60]:
data_training['Actual Unit']

0         312.0
1         528.0
2         708.0
3         612.0
4         636.0
5         768.0
6         564.0
7        1044.0
8         180.0
9         144.0
10         36.0
11        145.0
12         13.0
13         24.0
14         36.0
15         48.0
16          4.0
17        192.0
18        560.0
19        576.0
20       1032.0
21        816.0
22        288.0
23        792.0
24       2196.0
25        144.0
26        128.0
27          6.0
28         18.0
29       3112.0
          ...
30895       NaN
30896       NaN
30897       NaN
30898       NaN
30899       NaN
30900       NaN
30901       NaN
30902       NaN
30903       NaN
30904       NaN
30905       NaN
30906       NaN
30907       NaN
30908       NaN
30909       NaN
30910       NaN
30911       NaN
30912       NaN
30913       NaN
30914       NaN
30915       NaN
30916       NaN
30917       NaN
30918       NaN
30919       NaN
30920       NaN
30921       NaN
30922       NaN
30923       NaN
30924       NaN
Name: Actual Unit, Length: 30839, dtype: float64

In [7]:
product_data.drop(p.index, axis=0,inplace=True)

NameError: name 'p' is not defined

In [ ]:
product_data.to_csv('perdiction.csv', sep=',')
data_training.to_csv('train.csv', sep=',')

In [51]:
data= pd.read_csv('garan2.csv')

In [54]:
data['Actual Unit']= data['Actual Unit'].str.replace(",", "").astype(float)

ValueError: could not convert string to float: (36)

In [44]:
data['Actual Unit']= data['Actual Unit'].str.replace(",", "")
data['Actual Unit']= data['Actual Unit'].replace("(", "").replace(")", "")
data['Actual Unit']= data['Actual Unit'].astype(float)

ValueError: could not convert string to float: (36)

In [ ]:
    def Filterout_product2(self, row, value,row2,value2, y):
        try:
            self.prductdata = self.data.loc[self.data[row]==value]
            self.productforecating= self.prductdata.loc[self.data[row2]==value2]
            self.data.drop(self.productforecating.index, axis=0,inplace=True)
            self.productdata.drop(self.productforecating.index, axis=0,inplace=True)
            
            for i in range(30):
                self.data.append(productdata, ignore_index=True)
                
            
            self.pre_y= np.array(self.pre_x[y])
        
            self.pre_x=self.pre_x.drop(y, axis=1)